aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
cabarchive==0.2.4
cx_Freeze==8.5.0
disnake==2.11.0
filelock==3.20.0
freeze-core==0.4.1
frozenlist==1.8.0
idna==3.11
lief==0.17.1
multidict==6.7.0
packaging==25.0
propcache==0.4.1
python-dotenv==1.2.1
striprtf==0.0.29
typing_extensions==4.15.0
yarl==1.22.0
